.App {
  text-align: center;
}
body{
  background-color: antiquewhite;

}

td{
  color: red;
}

.message{
  color: red;
  font-weight: 500;
}

.player{
  font-weight: 800;
  font-size: 1.3rem !important;
  color: red;
}